page-timing {

  .content-stylist {
    background-image: url("../assets/bg_imgs/attractive-bag-beautiful-923210.jpg");
    background-repeat: no-repeat;
    background-size:cover;
  }
  .content-client {
    background-image: url("../assets/bg_imgs/afro-beautiful-curly-157920.jpg");
    background-repeat: no-repeat;
    background-size:cover;
  }
  ion-header {
    .toolbar {
      position: absolute;

      .toolbar-background {
        background: transparent;
      }
    }
  }
  .bg-trasparent {
    background-color: rgba(0,0,0,.6);
    width: 100%;
    min-height: 100%;
    text-align: center;
  }
  .toolbar-title-ios {
    color : white;
    text-align: center;
  }
  .toolbar-title-md {
    color : white;
    text-align: center;
  }
  .bar-button-default-ios {
    color : white;
  }
  .bar-button-default-md {
    color : white;
  }
  .txt_title {
    margin-top: 50px;
    color : white;
    font-size: 35px;
    font-weight: bold;
  }
  .txt_remaining {
    color : white;
    font-size: 15px;
  }
  .txt_time {
    margin-top : 30px;
    border : 3px solid white;
    border-radius: 200px;
    padding : 80px 40px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    color : white;
    font-size : 50px;
    text-align: center;
  }
  .btn_next_client {
    background-color: #67cb76;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
  .btn_next_stylist {
    background-color: #b88a64;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
}
