<!--
  Generated template for the TimingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content [ngClass]="type=='stylist'?'content-stylist':'content-client'" padding>


  <div class="txt_title">
    Time Left
  </div>
  <div class="txt_remaining">
    Remaining time for the next turn
  </div>
  <div class="txt_time">
    15:00
  </div>


</ion-content>
<ion-footer class="py-5">
  <button ion-button [ngClass]="type=='stylist'?'btn_next_stylist':'btn_next_client'" (click)="gotoBack()">
    Back
  </button>
</ion-footer>
