<!--
  Generated template for the ConfirmationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content [ngClass]="type=='stylist'?'content-stylist':'content-client'">
  <div class="bg-transparent">
    <div class="text-center text-white p-3">
      <ion-buttons class="position-absolute">
        <button icon-only class="text-white bg-transparent" style="height: 30px;" (click)="gotoBack()">
          <ion-icon name="arrow-back" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
    </div>
  </div>
  <div style="margin-top: 30vh; font-size: 40px;" *ngIf="type=='stylist'">
    All Done!
  </div>
  <div style="margin-top: 30vh; font-size: 40px;" *ngIf="type=='client'">
    Great!
  </div>
  <div style="width: 200px; margin-left : auto; margin-right: auto" *ngIf="type=='stylist'">
  You have booked with {{client.userName}} at {{appointment.availableTime}}, {{appointment.availableDate}}
  </div>
  <div style="width: 200px; margin-left : auto; margin-right: auto" *ngIf="type=='client'">
    You have requested to {{client.userName}} at {{appointment.availableTime}}, {{appointment.availableDate}}
  </div>
</ion-content>
<ion-footer class="py-5">
  <button ion-button [ngClass]="type=='stylist'?'btn_next_stylist':'btn_next_client'" (click)="pushToFind()">
    Back
  </button>
</ion-footer>
