page-confirmation {
  .content-stylist {
    background-image: url("../assets/bg_imgs/adult-attractive-beautiful-871495.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    color : white;
  }
  .content-client {
    background-image: url("../assets/bg_imgs/beautiful-beauty-female-897314.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    color : white;
  }
  .btn_next_client {
    background-color: #67cb76;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
  .btn_next_stylist {
    background-color: #b88a64;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
}
