page-request {
  .bg_stylist {
    background-color: #b88a64;
  }
  .title {
    color : white;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
  }
  .dateformat {
    padding : 10px;
    color : #b88a64;
    font-size : 16px;
  }
  .div_time {
    height: 16px;
    padding : 2px;
    text-align: center;
    border-radius: 20px;
    border : 1px solid #b88a64;
    font-size: 10px;
    color : white;
    background-color: #b88a64;
  }
  .timing {
    padding : 10px;
    color : #b88a64;
    font-size : 16px;
  }
  .accept {
    color : #b88a64;
    margin-top: 20px;
    font-size : 10px;
    padding : 5px;
    text-align: center;
    position: relative;
  }
  .accept:before {
    content : '';
    position: absolute;
    background-image: url("../assets/imgs/check mark.svg");
    background-size : cover;
    width: 20px;
    height: 18px;
    top: -15px;
    left: 13px;
  }
  .decline
  {
    color : #cd424e;
    margin-top: 20px;
    font-size : 10px;
    padding : 5px;
    text-align: center;
    position: relative;
  }
  .decline:before{
    content : '';
    position: absolute;
    background-image: url("../assets/imgs/Group 4331.svg");
    background-size : cover;
    width: 18px;
    height: 18px;
    top: -15px;
    left: 13px;
  }
  .right-bar {
    margin-left: 5px;
    position: relative;
  }
  .right-bar:before {
    content: '';
    left: -10px;
    position: absolute;
    background-color: #abababab;
    width: 2px;
    height: 100%;
  }
}
