<!--
  Generated template for the RequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="bg_stylist">

    <div class="text-center text-white p-3">
      &nbsp;
      <ion-buttons class="position-absolute" style="height: 20px; right : -5px; top : 15px;" >
        <button icon-only class="text-white bg-transparent" (click)="openThread()">
          <ion-icon name="chatbubbles" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
    </div>
    <div class="title">
      Appointment Requests
    </div>
  </div>
</ion-header>
<ion-content>
  <div>
    <ion-list>
      <div *ngFor="let reserve of reservation_list">
        <!--<div *ngIf="reserve.time==time" >-->
        <div *ngFor="let client of clients">
          <div *ngIf="client.userId == reserve.clientId && reserve.status == 0">
            <div class="timing">
              {{reserve.availableDate}}
            </div>
            <div class="shadow ml-2">
              <ion-item no-lines>
                <ion-avatar item-start>
                  <img [src]="client.profileImg">
                </ion-avatar>
                <h5>
                  {{client.userName}}
                </h5>
                <p style="font-size: 12px; line-height: 20px">
                  {{client.location}}
                </p>
                <p>
                  <span class="div_time">
                    {{reserve.availableTime}}
                  </span>&nbsp;&nbsp;
                  <span class="div_time">
                    {{reserve.availableStyle}}
                  </span>
                </p>
                <div item-end class="right-bar">
                  <div class="accept" (click)="acceptRequest(reserve,client)">
                    Accept
                  </div><hr>
                  <div class="decline" (click)="declineRequest(reserve,client)">
                    Decline
                  </div>
                </div>
              </ion-item>
            </div>

          </div>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
