page-login {
  .content-stylist {
    background-image: url("../assets/bg_imgs/dress-fashion-fashionable-833185.jpg");
    background-repeat: no-repeat;
    background-size:cover;
  }
  .content-client {
    background-image: url("../assets/bg_imgs/close-up-curly-curly-hair-718978.jpg");
    background-repeat: no-repeat;
    background-size:cover;
  }
  .txt_seq {
    color : white;
    text-align: left;
    font-size: 35px;
    font-weight: bold;
  }
  .txt_input {
    color : white;
    border-bottom: 1px solid #FFFFFF77;
  }
  .btn_next_client {
    background-color: #67cb76;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
  .btn_next_stylist {
    background-color: #b88a64;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
  .btn_signup {
    background : transparent;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
    border : 2px solid white;
  }
  .btn_forgot {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    color : white;
    border-bottom: 1px solid white;
  }
  .txt_type {
    color : white;
    font-family: "Have Heart 1";
    font-size: 100px;
  }
}
