<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <div class="bg-transparent">
    <div class="text-center text-white p-3">
      <!--<ion-buttons class="position-absolute">-->
      <!--<button icon-only class="text-white bg-transparent" style="height: 30px;" (click)="gotoBack()">-->
      <!--<ion-icon name="arrow-back" style="font-size: 20px"></ion-icon>-->
      <!--</button>-->
      <!--</ion-buttons>-->
      Login
    </div>
  </div>
</ion-header>

<ion-content  [ngClass]="type=='stylist'?'content-stylist':'content-client'">


  <div padding class="text-center">
    <div class="txt_type">
      {{type}}
    </div>
    <div class="txt_seq mt-3">
      Login
    </div>
    <form [formGroup]="loginForm" novalidate>
      <ion-input formControlName="email" class="txt_input my-4" [(ngModel)]="email" name="email" placeholder="email" value="superman.ru75@gmail.com" type="email"></ion-input>
      <ion-input formControlName="password" class="txt_input my-4" [(ngModel)]="password" name="password" placeholder="password" value="123456"></ion-input>
    </form>
    <div class="text-center btn_forgot" (click)="pushToForgot()">
      if you forgot your password
    </div>
  </div>
</ion-content>
<ion-footer class="py-2">
  <button ion-button [ngClass]="type=='stylist'?'btn_next_stylist':'btn_next_client'" (click)="pushToNext()">
    Next
  </button>
  <button ion-button class="btn_signup" (click)="pushToSignup()">
    Sign Up
  </button>
</ion-footer>
