<!--
  Generated template for the CheckInPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="bg-transparent">
    <div class="text-center text-white p-3">
      <ion-buttons class="position-absolute">
        <button icon-only class="text-white bg-transparent" style="height: 30px;" (click)="gotoBack()">
          <ion-icon name="arrow-back" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
      Upcoming Reservations
    </div>
  </div>
  <div style="margin-top: 30vh; font-size: 40px;">
    Check In
  </div>
  <div style="width: 200px; margin-left : auto; margin-right: auto" *ngIf="stylist && reservation">
    Your appointment has been reserved with {{stylist.userName}} at {{reservation.availableTime}} in {{reservation.availableDate}}
  </div>
</ion-content>

<ion-footer class="py-5">
  <button ion-button class="btn_next_client"  (click)="gotoBack()">
    Next
  </button>
</ion-footer>
