page-check-in {
  .content {
    background-image: url("../assets/bg_imgs/adult-architecture-attractive-235516.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    color : white;
  }
  .btn_next_client {
    background-color: #67cb76;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
  .cl_client {
    color :#67cb76;
    text-align: center;
    padding : 20px;
  }
  .cl_stylist {
    color : #b88a64;
    text-align: center;
    padding : 20px;
  }
}
