<!--
  Generated template for the BookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div class="background-image" [style.backgroundImage]="'url('+stylist.profileImg+')'">

  </div>
  <div class="content">
    <div class="panel">
      <div class="text-white h5">
        Your Appointment
      </div>
      <div class="text-success font-weight-bold h4">
        &nbsp;{{selectedDate}} <span *ngIf="selectedDate&&!selectedStyle&&selectedTime">|</span><span *ngIf="selectedDate&&selectedStyle">|</span> {{selectedStyle}} <span *ngIf="selectedStyle&&selectedTime">|</span> {{selectedTime}}
      </div>
      <div class="text-white h5">
        Available Days
      </div>
      <div>
        <ion-scroll scrollX="true" style="height: 60px;white-space: nowrap;">
          <span *ngFor="let aday of dateArray; let i = index">
            <button ion-button [ngClass]="isSelectedDate(i)?'btc_exist_6':'btc_exist_7'" (click)="addDate(i)" [disabled]="!isExistDate(i)" style="text-transform: none;">
              {{dateArray[i]}}
            </button>
          </span>
        </ion-scroll>
      </div>
      <div class="text-white h5">
        Available Styles
      </div>
      <div>
        <ion-scroll scrollX="true" style="height: 60px;">
          <span *ngFor="let i of [0, 1, 2, 3]">
            <button ion-button *ngIf="isExistStyle(i)" [ngClass]="isSelectedStyle(i)?'btc_exist_4':'btc_exist_5'" (click)="addStyle(i)" style="text-transform: none;">
              <div class="w-100">
              <div class="text-left w-100 mb-3">
                {{styleArray[i]}}
              </div>
              <div class="text-right w-100 h5">
                50$/hr
              </div>
              </div>
            </button>
          </span>
        </ion-scroll>
      </div>
      <div class="text-white h5">
        Available Times
      </div>
      <div style="margin-left :5vw">
        <span *ngFor="let i of [0,1,2,3]">
          <button ion-button [ngClass]="isSelectedTime(i)?'btc_exist_3':'btc_exist_1'" [disabled]="!isExistTime(i)" (click)="addTime(i)">{{timeArray[i]}}</button>
        </span>
      </div>
      <div class="text-center">
        <button ion-button disabled class="btn_next_client" (click)="booking()" [disabled]="!selectedTime||!selectedStyle||!selectedDate">Book now</button>
      </div>
    </div>
    <div class="position-absolute text-white mt-3 w-100" style="z-index : 1001; top : 0 ; left : 0">
      <ion-buttons class="flex">
        <button icon-only class="text-white bg-transparent float-left" style="height: 30px;" (click)="gotoBack()">
          <ion-icon name="arrow-back" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
      <div class="text-center">Book an appointment</div>
      <div class="h1 m-3">
        Stylist Detail
      </div>
      <div class="m-5 bg-dark p-4 text-center" style="height: 25vh; border-radius: 10px;">
        <div class="mt-5">
          {{stylist.userName}}
        </div>
        <div style="height: 2px; background-color: #ababab44"></div><br>
        <div class="float-left w-25" style="font-size : 10px; color : grey">
          {{stylist.location}}
        </div>
        <div class="float-right w-25">
          {{stylist.reviewNum}}
          <ion-icon name="star" color="golden"></ion-icon>
        </div>
      </div>
    </div>
    <img class="photo" src="{{stylist.profileImg}}">
  </div>
</ion-content>
