page-booking {
  .background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 25vh;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
  .content {

    top: 0;
    bottom:0;
    overflow-y:scroll;
    overflow-x:hidden;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    //background-color: #bfbfbf;
  }
  .button-md:hover:not(.disable-hover) {
    background-color: #67cb76;
  }
  .panel {
    overflow: auto;
    margin-top: 25vh;
    margin-bottom: 56px;
    min-height: calc(75vh - 56px);
    background-color: black;
    padding : 20vh 5vw 0 5vw;
  }
  .btn_next_client {
    background-color: #67cb76;
    border-radius: 30px;
    width : 100%;
    font-size : 12px;
    padding: 15px;
    color : white;
  }
  .photo {
    position : absolute;
    width: 60px;
    height: 60px;
    top  : 100px;
    left : 50vw;
    margin-top : -30px;
    margin-left: -30px;
    border-radius: 30px;
    z-index: 1002;
  }
  .btc_exist_1 {
    height: 20px;
    width : 35vw;
    border-radius: 20px;
    border : 1px solid white;
    font-size: 10px;
    color : white;
    background-color: black;
  }
  .btc_exist_3 {
    height: 20px;
    width : 35vw;
    border-radius: 20px;
    border : 1px solid #67cb76;
    font-size: 10px;
    color : white;
    background-color: #67cb76;
  }
  .btc_exist_4 {
    height: 50px;
    width : 20vw;
    border-radius: 5px;
    border : 1px solid #67cb76;
    font-size: 10px;
    color : white;
    background-color: #67cb76;
  }
  .btc_exist_5 {
    height: 50px;
    width : 20vw;
    border-radius: 5px;
    border : 1px solid white;
    font-size: 10px;
    color : white;
    background-color: black;
  }
  .btc_exist_6 {
    height: 40px;
    width : 90px;
    border-radius: 5px;
    border : 1px solid #67cb76;
    font-size: 10px;
    color : white;
    background-color: #67cb76;
  }
  .btc_exist_7 {
    height: 40px;
    width : 90px;
    border-radius: 5px;
    border :1px solid white;
    font-size: 10px;
    color : white;
    background-color: black;
  }
}
