<!--
  Generated template for the ForgetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="bg-transparent">
    <div class="text-center text-white p-3">
      <ion-buttons class="position-absolute">
        <button icon-only class="text-white bg-transparent" style="height: 30px;" (click)="gotoBack()">
          <ion-icon name="arrow-back" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
      Forget Password
    </div>

    <div class="txt_seq m-3">
      Security questions
    </div>
  </div>
</ion-header>

<ion-content  [ngClass]="type=='stylist'?'content-stylist':'content-client'">

  <div padding>
    <ion-input class="txt_input my-4" [(ngModel)]="qa1"  placeholder="What was your childhood nickname?">

    </ion-input>
    <ion-input class="txt_input my-4" [(ngModel)]="qa2" placeholder="What is your favorite food?">

    </ion-input>
    <ion-input class="txt_input my-4" [(ngModel)]="qa3" placeholder="What is your favorite team?">

    </ion-input>
  </div>
</ion-content>
<ion-footer class="py-2">
  <button ion-button [ngClass]="type=='stylist'?'btn_next_stylist':'btn_next_client'" (click)="presentConfirmModal()">
    Send
  </button>
</ion-footer>
