<!--
  Generated template for the RulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="bg_client">

    <div class="text-center text-white p-3">
      <ion-buttons class="position-absolute" style="height: 20px; left : 10px; top : 15px;" >
        <button icon-only class="text-white bg-transparent" (click)="goBack()">
          <ion-icon name="arrow-back" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
      Upcoming reservations
      <ion-buttons class="position-absolute" style="height: 20px; right : -5px; top : 15px;" >
        <button icon-only class="text-white bg-transparent" (click)="openChat()">
          <ion-icon name="chatbubbles" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
    </div>
    <div class="title">
      Rules
    </div>
  </div>
</ion-header>
<ion-content>

  <div class="shadow-lg m-5 p-5">
    <h1>1</h1>
    <p class="text-secondary">dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy</p>

    <h1>2</h1>
    <p class="text-secondary">dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy</p>

    <h1>3</h1>
    <p class="text-secondary">dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy</p>

    <h1>4</h1>
    <p class="text-secondary">dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy</p>
  </div>
</ion-content>
