page-edit-profile {
  .toolbar-title-ios {
    color : white;
    text-align: center;
  }
  .toolbar-title-md {
    color : white;
    text-align: center;
  }
  .bar-button-default-ios {
    color : white;
  }
  .bar-button-default-md {
    color : white;
  }
  .btn_next_client {
    background-color: #67cb76;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
  .btn_next_stylist {
    background-color: #b88a64;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
  .bg_client {
    background-color: #67cb76;
  }
  .bg_stylist {
    background-color:#b88a64;
  }
  .title {
    color : white;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
  }
  .cl_client {
    color :#67cb76;
    text-align: center;
    padding : 20px;
  }
  .cl_stylist {
    color : #b88a64;
    text-align: center;
    padding : 20px;
  }
  .personal_img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border : 1px solid #aaaaaa;
  }
  .txt_input {
    border-bottom: 1px solid #aaaaaa;
  }

  .camera {
    position : absolute;
    width: 40px;
    height: 40px;
    top  : 158px;
    left : 50vw;
    margin-left: -20px;
    margin-top : -20px;
    border-radius: 20px;
    z-index: 1001;
    background-color: #898989ab;
    padding :10px;
  }

  .btc_exist {
    height: 20px;
    border-radius: 20px;
    border : 1px solid #67cb76;
    font-size: 10px;
    color : white;
    background-color: #67cb76;
  }

  .btc_exist_1 {
    height: 20px;
    width : 35vw;
    border-radius: 20px;
    border : 1px solid grey;
    font-size: 10px;
    color : grey;
    background-color: white;
  }
  .btc_exist_2 {
    height: 20px;
    width : 35vw;
    border-radius: 20px;
    border : 1px solid black;
    font-size: 10px;
    color : black;
    background-color: white;
  }
  .btc_exist_3 {
    height: 40px;
    width : 90px;
    border-radius: 5px;
    border : 1px solid lightgrey;
    font-size: 10px;
    color : lightgrey;
    background-color: white;
  }
  .btc_exist_4 {
    height: 40px;
    width : 90px;
    border-radius: 5px;
    border : 1px solid black;
    font-size: 10px;
    color : black;
    background-color: white;
  }


}
