<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <div  [ngClass]="type=='stylist'?'bg_stylist':'bg_client'">

    <div class="text-center text-white p-3">
      <ion-buttons class="position-absolute">
        <button icon-only class="text-white bg-transparent" style="height: 30px;" (click)="gotoBack()">
          <ion-icon name="arrow-back" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
      Edit Profile
    </div>
    <div class="title">
      Personal information
    </div>
  </div>
</ion-header>
<ion-content>


  <div [ngClass]="type=='stylist'?'cl_stylist':'cl_client'">
    <div>
      <img src="{{currentUser.profileImg}}" class="personal_img">
      <img class="camera" src="assets/imgs/Path 7721.svg" (click)="presentActionSheet()">
    </div>
    <div>
      upload/change photo
    </div>
    <ion-input class="txt_input mt-3" type="text" [(ngModel)]="currentUser.userName" placeholder="Full Name"></ion-input>
    <ion-input class="txt_input mt-3" type="text" [(ngModel)]="currentUser.salonName" [ngModelOptions]="{standalone:  true}" placeholder="Salon Name" *ngIf="type=='stylist'"></ion-input>
    <ion-input class="txt_input mt-3" type="text" [(ngModel)]="currentUser.location" placeholder="Address"></ion-input>
    <ion-input class="txt_input mt-3" type="text" [(ngModel)]="currentUser.qa1" placeholder="What was your childhood nickname?"></ion-input>
    <ion-input class="txt_input mt-3" type="text" [(ngModel)]="currentUser.qa2" placeholder="What is your favorite food?"></ion-input>
    <ion-input class="txt_input mt-3" type="text" [(ngModel)]="currentUser.qa3" placeholder="What is your favorite team?"></ion-input>
    <div *ngIf="type=='stylist'">
      <div class="h3 my-4">
        Available Days
      </div>
      <div *ngIf="currentUser.availableDate">
        <ion-scroll scrollX="true" style="height: 60px;white-space: nowrap;">
          <span *ngFor="let aday of dateArray; let i = index">
            <button ion-button [ngClass]="isSelectedDate(i)?'btc_exist_4':'btc_exist_3'" (click)="addDate(i)"  style="text-transform: none;">
              {{dateArray[i]}}
            </button>
          </span>
        </ion-scroll>
      </div>
      <div class="h3 my-4">
        Available Times
      </div>
      <div *ngIf="currentUser.availableTime">
        <span *ngFor="let i of [0,1,2,3]">
          <button ion-button [ngClass]="isSelectedTime(i)?'btc_exist_2':'btc_exist_1'" (click)="addTime(i)">{{timeArray[i]}}</button>
        </span>
      </div>
    </div>

  </div>

</ion-content>
<ion-footer class="py-2">
  <button ion-button [ngClass]="type=='stylist'?'btn_next_stylist':'btn_next_client'" (click)="updateUser()">
    Update
  </button>
</ion-footer>

