<!--
  Generated template for the ChattingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div [ngClass]="type=='stylist'?'bg_stylist':'bg_client'">

    <div class="text-center text-white p-3">
      &nbsp;
      <ion-buttons class="position-absolute" style="height: 20px; left : 10px; top : 15px;" >
        <button icon-only class="text-white bg-transparent" (click)="goBack()">
          <ion-icon name="arrow-back" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
    </div>
    <div class="title">
      {{contactUser.name}}
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="chatting">
    <div *ngFor="let msg of messages">
      <div *ngIf="msg.side=='send'" class="clearfix">
        <img [src]="currentUser.img_url" class="myphoto">
        <div class="mymessage">{{msg.msg}}<span [ngClass]="type=='stylist'?'cl_stylist mytime':'cl_client mytime'">{{msg.time}}</span></div>
      </div>
      <div *ngIf="msg.side=='receive'"  class="clearfix">
        <img [src]="contactUser.img_url" class="yourphoto">
        <div class="yourmessage">{{msg.msg}}<span [ngClass]="type=='stylist'?'cl_stylist mytime':'cl_client mytime'">{{msg.time}}</span></div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-item class="shadow-lg">
    <ion-input  placeholder="Write Here" autocorrect [(ngModel)]="message" (keypress)="eventHandler($event.keyCode)">
    </ion-input>
    <button ion-button icon-only clear item-right (click)="addMessage()"><ion-icon name="send" [ngClass]="type=='stylist'?'cl_stylist':'cl_client'"></ion-icon></button>
  </ion-item>

</ion-footer>
