page-chatting {
  .bg_stylist {
    background-color: #b88a64;
  }
  .cl_stylist {
    color : #b88a64;
  }
  .bg_client {
    background-color: #67cb76;
  }
  .cl_client {
    color :  #67cb76;
  }
  .title {
    color : white;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
  }
  .myphoto {
    margin: 10px 15px 10px 5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    float: right;
  }
  .mymessage {
    margin: 10px 10px 10px 20vw;
    padding : 10px;
    border: 1px solid #cdc0ca;
    color :  #9c9099;
    width : calc(100% - 80px - 20vw);
    min-height: 50px;
    border-radius: 5px;
    text-align: left;
    float: left;
    position: relative;
  }
  .yourphoto {
    margin: 10px 5px 10px 15px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    float: left;
  }
  .yourmessage {
    margin: 10px 20vw 10px 10px;
    padding : 10px;
    background-color: #e5f9ed;
    color :  #9c9099;
    width : calc(100% - 80px - 20vw);
    min-height: 50px;
    border-radius: 5px;
    text-align: left;
    float: right;
    position: relative;
  }
  .mytime {
    position: absolute;
    bottom: 0;
    right: 3px;
  }
}
