<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div class="background-image" [style.backgroundImage]="'url('+currentUser.profileImg+')'">

  </div>
  <div class="content">
    <div class="name">
      {{currentUser.userName}}
    </div>
    <div class="shadow panel">
      <ion-list>
        <ion-item *ngIf="type=='stylist'">
          <ion-avatar item-start>
            <img src="assets/imgs/Path -2.svg" style="width: 30px;">
          </ion-avatar>
          <ion-label floating>Salon Name</ion-label>
          <ion-input type="text" [value]="currentUser.salonName" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/Group 4337.svg" style="width: 30px;">
          </ion-avatar>
          <ion-label floating>Location</ion-label>
          <ion-textarea type="text" [value]="currentUser.location" readonly></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/icon-pelo.svg" style="width: 30px;">
          </ion-avatar>
          <div class="font-small">Hair Styles</div>
          <div class="ml-2" *ngIf="currentUser.availableStyles">
            <ion-scroll scrollX="true" style="height: 30px;white-space: nowrap;">
              <button ion-button *ngIf="isExistStyle('Style #1')" [ngClass]="type=='stylist'?'btn_style_stylist':'btn_style_client'">Style #1</button>
              <button ion-button *ngIf="isExistStyle('Style #2')" [ngClass]="type=='stylist'?'btn_style_stylist':'btn_style_client'">Style #2</button>
              <button ion-button *ngIf="isExistStyle('Style #3')" [ngClass]="type=='stylist'?'btn_style_stylist':'btn_style_client'">Style #3</button>
              <button ion-button *ngIf="isExistStyle('Style #4')" [ngClass]="type=='stylist'?'btn_style_stylist':'btn_style_client'">Style #4</button>
            </ion-scroll>
          </div>
          <!--<div>{{currentUser.availableStyles}}</div>-->
        </ion-item>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/Group 4336.svg" style="width: 30px;">
          </ion-avatar>
          <ion-label floating>Payment Info</ion-label>
          <ion-textarea type="text" value="Connected to Cash App" readonly></ion-textarea>
        </ion-item>
      </ion-list>

      <button ion-button class="edit" (click)="pushToEditPage()">
        Edit profile
      </button>
    </div>
    <img class="photo" src="{{currentUser.profileImg}}">
    <!--<img class="camera" src="assets/imgs/Path 7721.svg" (click)="presentActionSheet()">-->
  </div>
</ion-content>
