page-profile {
  .background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 40%;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }

  .content {

    top: 0;
    bottom:0;
    overflow-y:scroll;
    overflow-x:hidden;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    //background-color: #bfbfbf;
  }

  .name {
    font-size: 25px;
    font-weight: bold;
    color : white;
    margin: 40px
  }
  .panel {
    margin : 15vh 10vw 10vh 10vw;
    background-color: white;
    border-radius: 10px;
    padding : 50px 20px 20px 20px;
  }
  .edit {
    background-color: #cf414b;
    color : white;
    width: 100%;
    font-size: 12px;
    border-radius: 30px;
  }

  .photo {
    position : absolute;
    width: 100px;
    height: 100px;
    top  : 25vh;
    left : 50vw;
    margin-top : -50px;
    margin-left: -50px;
    border-radius: 50px;
    z-index: 1000;
    border : 1px solid white;
  }
  .camera {
    position : absolute;
    width: 40px;
    height: 40px;
    top  : 25vh;
    left : 50vw;
    margin-left: -20px;
    margin-top : -20px;
    border-radius: 20px;
    z-index: 1001;
    background-color: #abababab;
    padding :10px;
  }
  ion-label{
    color : #ababab;
  }

  .btn_style_client {
    height: 20px;
    border-radius: 20px;
    border : 1px solid #67cb76;
    font-size: 10px!important;
    color : white;
    background-color: #67cb76;
  }
  .btn_style_stylist {
    height: 20px;
    border-radius: 20px;
    border : 1px solid #b88a64;
    font-size: 10px!important;
    color : white;
    background-color: #b88a64;
  }

  .font-small {
    font-size : 12px;
  }

  ion-textarea {
    font-size: 12px;
  }
}
