<!--
  Generated template for the HairProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <div  [ngClass]="type=='stylist'?'bg_stylist':'bg_client'">

    <div class="text-center text-white p-3">
      <ion-buttons class="position-absolute">
        <button icon-only class="text-white bg-transparent" style="height: 30px;" (click)="gotoBack()">
          <ion-icon name="arrow-back" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
      Register
    </div>
    <div class="title">
      Hair Profile
    </div>
  </div>
</ion-header>
<ion-content>

  <div>
    <div [ngClass]="regUser.hairProfile=='natural'?'shadow div_profile selected':'shadow div_profile'" (click)="updateHairProfile('natural')">
      <img src="assets/imgs/Group 4323.svg" style="width: 40px; margin-right : 15px" *ngIf="type=='stylist'">
      <img src="assets/imgs/Group 4327.svg" style="width: 40px; margin-right : 15px" *ngIf="type!='stylist'">
      Natural
    </div>

    <div [ngClass]="regUser.hairProfile=='chemical'?'shadow div_profile selected':'shadow div_profile'" (click)="updateHairProfile('chemical')">
      <img src="assets/imgs/hair-dye-brush.svg" style="width: 40px; margin-right : 15px" *ngIf="type=='stylist'">
      <img src="assets/imgs/hair-dye-brush-2.svg" style="width: 40px; margin-right : 15px" *ngIf="type!='stylist'">
      Chemically straightened
    </div>
  </div>
</ion-content>

<ion-footer class="py-2">
  <button ion-button [ngClass]="type=='stylist'?'btn_next_stylist':'btn_next_client'" (click)="pushToPorosity()" [disabled]="!regUser.hairProfile">
    Continue
  </button>
</ion-footer>
