<ion-tabs>
  <ion-tab [root]="acceptedRoot" tabIcon="paper" *ngIf="type=='stylist'"  ></ion-tab>
  <ion-tab [root]="requestRoot" tabIcon="checkmark" *ngIf="type=='stylist'"></ion-tab>
  <ion-tab [root]="findRoot" tabIcon="search" *ngIf="type=='client'" ></ion-tab>
  <ion-tab [root]="upcomingRoot" tabIcon="paper" *ngIf="type=='client'"></ion-tab>
  <ion-tab [root]="timingRoot" tabIcon="time" *ngIf="type!=''"></ion-tab>
  <ion-tab [root]="profileRoot" tabIcon="person" *ngIf="type!=''"></ion-tab>
</ion-tabs>
