// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

@font-face{
  font-family: 'Have Heart 1';
  font-weight: 500;
  src : url('../assets/fonts/Have Heart One.ttf');
}


@font-face{
  font-family: 'Have Heart Swash';
  font-weight: 500;
  src : url('../assets/fonts/Have Heart Swash.ttf');
}



@font-face{
  font-family: 'Have Heart 2';
  font-weight: 500;
  src : url('../assets/fonts/Have Heart Two.ttf');
}


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #cbcbcb,
  secondary:  #32db64,
  client:     #67cb76,
  stylist:    #b88a64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  golden:     #FFFF33,
  custom1:    #ababab,
  dark:       #222,
  custom2:    #eeeeee,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$searchbar-ios-input-background-color : #57bb66;
$searchbar-ios-background-color : rgba(0,0,0,0);
$searchbar-ios-input-search-icon-color : #efefef;
$searchbar-ios-input-text-color : #FFFFFF;
$searchbar-ios-input-placeholder-color: #efefef;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


$tabs-tab-color-active : #67cb76;
$searchbar-md-input-background-color : #57bb66;
$searchbar-md-background-color : rgba(0,0,0,0);
$searchbar-md-input-search-icon-color : #efefef;
$searchbar-md-input-text-color : #FFFFFF;
$searchbar-md-input-placeholder-color: #efefef;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
