<!--
  Generated template for the PersonalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <div  [ngClass]="type=='stylist'?'bg_stylist':'bg_client'">

    <div class="text-center text-white p-3">
      <ion-buttons class="position-absolute">
        <button icon-only class="text-white bg-transparent" style="height: 30px;" (click)="gotoBack()">
          <ion-icon name="arrow-back" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
      Register
    </div>
    <div class="title">
      Personal information
    </div>
  </div>
</ion-header>


<ion-content>


  <div [ngClass]="type=='stylist'?'cl_stylist':'cl_client'">
    <div>
      <img src="{{regUser.profileImg}}" class="personal_img">
      <img class="camera" src="assets/imgs/Path 7721.svg" (click)="presentActionSheet()">
    </div>
    <div>
      upload/change photo
    </div>
    <form [formGroup]="registerForm" novalidate>
      <ion-input formControlName="username" class="txt_input mt-3" type="text" [(ngModel)]="regUser.userName" placeholder="Full Name"></ion-input>
      <ion-input class="txt_input mt-3" type="text" [(ngModel)]="regUser.salonName" [ngModelOptions]="{standalone:  true}" placeholder="Salon Name" *ngIf="type=='stylist'"></ion-input>
      <ion-input formControlName="email" class="txt_input mt-3" type="email" [(ngModel)]="regUser.email" placeholder="Email"></ion-input>
      <ion-input formControlName="password" class="txt_input mt-3" type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
      <ion-input formControlName="repeatpassword" class="txt_input mt-3" type="password" [(ngModel)]="repeatPassword" placeholder="Repeat Password"></ion-input>
      <ion-input formControlName="location" class="txt_input mt-3" type="text" [(ngModel)]="regUser.location" placeholder="Address" (ionInput)="updateSearch()"></ion-input>
      <ion-input formControlName="qa1" class="txt_input mt-3" type="text" [(ngModel)]="regUser.qa1" placeholder="What was your childhood nickname?"></ion-input>
      <ion-input formControlName="qa2" class="txt_input mt-3" type="text" [(ngModel)]="regUser.qa2" placeholder="What is your favorite food?"></ion-input>
      <ion-input formControlName="qa3" class="txt_input mt-3" type="text" [(ngModel)]="regUser.qa3" placeholder="What is your favorite team?"></ion-input>
    </form>
    <div *ngIf="type=='stylist'">
      <div class="h3 my-4">
        Available Days
      </div>
      <div>
        <ion-scroll scrollX="true" style="height: 60px;white-space: nowrap;">
          <span *ngFor="let aday of dateArray; let i = index">
            <button ion-button [ngClass]="isSelectedDate(i)?'btc_exist_4':'btc_exist_3'" (click)="addDate(i)"  style="text-transform: none;">
              {{dateArray[i]}}
            </button>
          </span>
        </ion-scroll>
      </div>
      <div class="h3 my-4">
        Available Times
      </div>
      <div>
      <span *ngFor="let i of [0,1,2,3]">
        <button ion-button [ngClass]="isSelectedTime(i)?'btc_exist_2':'btc_exist_1'" (click)="addTime(i)">{{timeArray[i]}}</button>
      </span>
      </div>
    </div>

  </div>
</ion-content>
<ion-footer class="py-2">
  <button ion-button [ngClass]="type=='stylist'?'btn_next_stylist':'btn_next_client'" (click)="pushToHairProfile()">
    Continue
  </button>
</ion-footer>
