<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
    <div class="welcome">
      Welcome!
    </div>
    <div class="select">
      Please select the correct side
    </div>
    <div class="panel">
      <div [ngClass]="this.type=='client'?'client m-5':'no-back  my-5'">
        <img src="assets/imgs/Group 4325.png" style="width: 40px;" (click)="changeType('client')"/><br>
      </div>
      <div class="sel_txt">
        Client
      </div>
      <hr style="background-color: #FFFFFF66">
      <div [ngClass]="this.type=='stylist'?'stylist my-5':'no-back my-5'">
        <img src="assets/imgs/Group 4326.png" style="width: 40px;" (click)="changeType('stylist')"/><br>
      </div>
      <div class="sel_txt">
        Stylist
      </div>
    </div>
</ion-content>
<ion-footer class="py-5">
  <button ion-button class="btn_next" [disabled]="type==''" (click)="pushToLogin()">
    Next
  </button>
</ion-footer>
