page-welcome {
  .content {
    background-image: url('../assets/bg_imgs/attractive-beautiful-beautiful-girl-713527-crop.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  }
  .welcome {
    color : white;
    font-size : 40px;
    font-family: inherit;
    margin-top: 40px;
  }
  .select {
    color : white;
    font-size: 16px;
  }
  .panel {
    margin-top: 30px;
    align-content: center;
    text-align: center;
    flex : 1;
    color : white;
  }
  .no-back {
    background-color: white;
    padding: 25px;
    border-radius: 50px;
    width: 100px;
    margin: 0 auto!important;
  }
  .stylist {
    background-color: #b88a64;
    padding: 25px;
    border-radius: 50px;
    width: 100px;
    margin: 0 auto!important;
  }
  .client {
    background-color: #67cb76;
    padding: 25px;
    border-radius: 50px;
    width: 100px;
    margin: 0 auto!important;
  }
  .btn_next {
    background-color: #67cb76;
    border-radius: 30px;
    width : 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    color : white;
    font-size : 12px;
    padding: 25px;
  }
  .button-md.activated{
    background-color: #67cb76;
    border-radius: 30px;
    width : 80vw;
    color : white;
    font-size : 12px;
    padding: 25px;
  }
  .sel_txt {
    font-size: 15px;
    margin-bottom: 40px;
    font-family: inherit;
  }
}
