<!--
  Generated template for the FindPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div class="bg_client">

    <div class="text-center text-white p-3">
      Find Stylist
      <ion-buttons class="position-absolute" style="height: 20px; right : -5px; top : 15px;" >
        <button icon-only class="text-white bg-transparent" (click)="openThread()">
          <ion-icon name="chatbubbles" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
    </div>
    <div class="title">
      Search
    </div>
    <div [ngSwitch]="search">
      <div *ngSwitchCase="'all'">
        <ion-searchbar (ionInput)="getItems($event)" placeholder="keyword"></ion-searchbar>
      </div>
      <div *ngSwitchCase="'date'">
        <ion-item class="cal_date" >
          <ion-label color="primary"><ion-icon name="calendar"></ion-icon></ion-label>
          <ion-input readonly clearInput (click)="toggleCalendar()" placeholder="Nov 1 2018" [(ngModel)]="selectedDate">
          </ion-input>
        </ion-item>

      </div>
      <div *ngSwitchCase="'time'">
        <ion-item class="cal_date" >
          <ion-label color="custom2"><ion-icon name="clock"></ion-icon></ion-label>
          <ion-input readonly clearInput (click)="toggleTime()" placeholder="12:00 AM - 2:00 PM" [(ngModel)]="selectedTime">
          </ion-input>
        </ion-item>
      </div>
      <div *ngSwitchCase="'style'">
        <ion-item class="cal_date" >
          <ion-label color="custom2"><ion-icon name="brush"></ion-icon></ion-label>
          <ion-input readonly clearInput (click)="toggleStyles()" placeholder="Style #1"  [(ngModel)]="selectedStyle">
          </ion-input>
        </ion-item>
      </div>
      <div *ngSwitchCase="'location'">
        <ion-item class="cal_date" >
          <ion-label color="custom2"><ion-icon name="locate"></ion-icon></ion-label>
          <ion-input placeholder="Washington"  [(ngModel)]="selectedLocation" (ionChange)="setLocation()">
          </ion-input>
        </ion-item>
      </div>

    </div>
    <div>
      <ion-segment [(ngModel)]="search">
        <ion-segment-button value="all" (click)="initializeItems()">
          ALL
        </ion-segment-button>
        <ion-segment-button value="date"(click)="initializeItems()">
          DATE
        </ion-segment-button>
        <ion-segment-button value="time"(click)="initializeItems()">
          TIME
        </ion-segment-button>
        <ion-segment-button value="style"(click)="initializeItems()">
          STYLE
        </ion-segment-button>
        <ion-segment-button value="location"(click)="initializeItems()">
          LOCATION
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <div [ngSwitch]="search">
    <div *ngSwitchCase="'date'" >
      <div *ngIf="isShowCalendar">
        <div class="calendar-header">
          <ion-row class="calendar-month">
            <ion-col col-9>{{currentMonth}} {{currentYear}}</ion-col>
            <ion-col col-1 (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
            <ion-col col-1 (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
          </ion-row>
        </div>
        <div class="calendar-body">
          <ion-grid>
            <ion-row class="calendar-weekday">
              <ion-col>Su</ion-col>
              <ion-col>Mo</ion-col>
              <ion-col>Tu</ion-col>
              <ion-col>We</ion-col>
              <ion-col>Th</ion-col>
              <ion-col>Fr</ion-col>
              <ion-col>Sa</ion-col>
            </ion-row>
            <ion-row class="calendar-date">
              <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
              <ion-col col-1 *ngFor="let day of daysInThisMonth"  (click)="selectDate(day)">
                <span class="currentDate" *ngIf="currentDate === day; else otherDate" >{{day}}</span>
                <ng-template #otherDate class="otherDate">{{day}}</ng-template>
              </ion-col>
              <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'time'">
      <div *ngIf="isShowTime" class="bg_styles">
        <div *ngFor="let time of timeArray">
          <button ion-button (click)="setTime(time)" [ngClass]="selectedTime==time?'btc_selected':'btc_nonselected'">{{time}}</button><br>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'style'">
      <div *ngIf="isShowStyles" class="bg_styles">
        <button ion-button (click)="setStyle(1)" [ngClass]="this.selectedStyle=='Style #1'?'btc_selected':'btc_nonselected'">Style #1</button><br>
        <button ion-button (click)="setStyle(2)" [ngClass]="this.selectedStyle=='Style #2'?'btc_selected':'btc_nonselected'">Style #2</button><br>
        <button ion-button (click)="setStyle(3)" [ngClass]="this.selectedStyle=='Style #3'?'btc_selected':'btc_nonselected'">Style #3</button><br>
        <button ion-button (click)="setStyle(4)" [ngClass]="this.selectedStyle=='Style #4'?'btc_selected':'btc_nonselected'">Style #4</button>
      </div>
    </div>
    <ion-list>
      <div  *ngFor="let stylist of stylists;let i = index" class="shadow m-3">
        <ion-item no-lines>
          <ion-avatar item-start>
            <img [src]="stylist.profileImg">
          </ion-avatar>
          <h2>{{stylist.userName}}</h2>
          <p>{{stylist.location}}</p>
          <div item-end>
            {{stylist.reviewNum}}
            <ion-icon name="star" color="golden"></ion-icon>
            <br><br>
            <div style="font-size: 10px"  *ngIf="!stylist.open" (click)="openStylist(i)">
              View Info<ion-icon name="arrow-down"></ion-icon>
            </div>
            <div style="font-size: 10px"  *ngIf="stylist.open" (click)="closeStylist(i)">
              Hide Info<ion-icon name="arrow-up"></ion-icon>
            </div>
          </div>

        </ion-item>
        <div *ngIf="stylist.open">
          <p>Top styles</p>

          <div class="ml-2">
            <button ion-button *ngIf="isExistStyle(i, 'Style #1')" class="btc_exist">Style #1</button>
            <button ion-button *ngIf="isExistStyle(i, 'Style #2')" class="btc_exist">Style #2</button>
            <button ion-button *ngIf="isExistStyle(i, 'Style #3')" class="btc_exist">Style #3</button>
            <button ion-button *ngIf="isExistStyle(i, 'Style #4')" class="btc_exist">Style #4</button>
          </div>
          <p>Available Time</p>
          <div style="margin-left :5vw">
            <button ion-button [ngClass]="isExistTime(i,0)?'btc_exist_1':'btc_exist_2'">{{timeArray[0]}}</button>
            <button ion-button [ngClass]="isExistTime(i,1)?'btc_exist_1':'btc_exist_2'">{{timeArray[1]}}</button>
            <button ion-button [ngClass]="isExistTime(i,2)?'btc_exist_1':'btc_exist_2'">{{timeArray[2]}}</button>
            <button ion-button [ngClass]="isExistTime(i,3)?'btc_exist_1':'btc_exist_2'">{{timeArray[3]}}</button>
          </div>
          <div class="text-center">
            <button ion-button class="btc_nonselected" (click)="pushToBooking(stylist)">Book an appointment</button>
          </div>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
