<!--
  Generated template for the HairTypingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div  [ngClass]="type=='stylist'?'bg_stylist':'bg_client'">

    <div class="text-center text-white p-3">
      <ion-buttons class="position-absolute">
        <button icon-only class="text-white bg-transparent" style="height: 30px;" (click)="gotoBack()">
          <ion-icon name="arrow-back" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
      Register
    </div>
    <div class="title">
      Hair Typing
    </div>
  </div>
</ion-header>
<ion-content>

  <div  [ngClass]="type=='stylist'?'cl_stylist':'cl_client'" padding>
    <div *ngFor="let items of typing_list">

      <div class="txt_type">
        Type #{{items.number}}
      </div>
      <ion-row>
        <div col-3 *ngFor="let item of items.content" [ngClass]="isExist(item.name)?'shadow mb-5 bg-white rounded selected':'shadow mb-5 bg-white rounded'">
          <div style="font-size : 20px; padding : 20px;" (click)="updateHairType(item.name)">
            {{item.name}}
          </div>
          <div style="font-size: 10px; padding: 2px; text-align: right" *ngIf="!item.open" (click)="openDetail(items,item)">view detail<ion-icon name="arrow-down"></ion-icon></div>
          <div style="font-size: 10px; padding: 2px; text-align: right" *ngIf="item.open" (click)="closeDetail(items,item)">hide detail<ion-icon name="arrow-up"></ion-icon></div>
        </div>
      </ion-row>
      <ion-row *ngIf="items.open">
        <div class="desc">
          {{items.desc}}
        </div>
      </ion-row>
    </div>
  </div>
</ion-content>

<ion-footer class="py-2">
  <button ion-button [ngClass]="type=='stylist'?'btn_next_stylist':'btn_next_client'" (click)="pushToLogin()" [disabled]="!regUser.hairTyping">
    Continue
  </button>
</ion-footer>
