page-hair-typing {
  .btn_next_client {
    background-color: #67cb76;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
  .btn_next_stylist {
    background-color: #b88a64;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
  .bg_client {
    background-color: #67cb76;
  }
  .bg_stylist {
    background-color:#b88a64;
  }
  .title {
    color : white;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
  }
  .cl_client {
    color :#67cb76;
    text-align: center;
    padding : 20px;
  }
  .cl_stylist {
    color : #b88a64;
    text-align: center;
    padding : 20px;
  }
  .txt_type {
    font-size : 15px;
    text-align: left;
  }
  [col-3] {
    margin: 3.8%;
  }
  .selected {
    border : 1px solid grey;
  }

  .desc {
    border-radius: 5px;
    background-color: #ababab;
    color : white;
    margin : 20px;
    width: calc(100% - 40px);
    padding : 10px;
  }
}
