<!--
  Generated template for the ThreadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div [ngClass]="type=='stylist'?'bg_stylist':'bg_client'">

    <div class="text-center text-white p-3">
      &nbsp;
      <ion-buttons class="position-absolute" style="height: 20px; left : 10px; top : 15px;" >
        <button icon-only class="text-white bg-transparent" (click)="goBack()">
          <ion-icon name="arrow-back" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
    </div>
    <div class="title">
      Threads
    </div>
  </div>
</ion-header>
<ion-content>

  <ion-list>
    <div *ngFor="let chat of chats" class="p-3">
      <ion-item class="shadow-lg rounded p-2" no-lines (click)="openChat()">
        <ion-avatar item-start>
          <img [src]="chat.img_url">
        </ion-avatar>
        <h5>{{chat.name}}</h5>
        <p>{{chat.lastMsg}}
        </p>
        <span item-end [ngClass]="type=='stylist'?'txt_stylist':'txt_client'" style="font-size : 15px;">{{chat.lastTime}}</span>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
