page-thread {
  .bg_client {
    background-color: #67cb76;
  }
  .bg_stylist {
    background-color: #b88a64;
  }
  .title {
    color : white;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
  }
  .txt_stylist {
    color : #b88a64;
  }
  .txt_client {
    color :  #67cb76;
  }
}
