page-upcoming {
  .bg_client {
    background-color: #67cb76;
  }
  .title {
    color : white;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
  }
  .status-msg {
    font-size : 12px;
    text-align: center;
  }
  .status-0 {
    background-color: #52a45a;
    padding: 10px;
    color: #FFF;
  }
  .status-1 {
    width: 100%;
    background-color: #f1f12b;
    padding: 10px;
    color: #000;
  }
  .status-2 {
    width: 100%;
    background-color: #cd424e;
    padding: 10px;
    color: #FFF;
  }
  .timing {
    padding : 10px;
    color : #67cb76;
    font-size : 16px;
  }
  .div_time {
    height: 16px;
    padding : 1px;
    text-align: center;
    border-radius: 20px;
    border : 1px solid #67cb76;
    font-size: 10px;
    color : white;
    background-color: #67cb76;
  }
  .rule {
    color : #67cb76;
    margin-top: 20px;
    font-size : 10px;
    padding : 5px;
    text-align: center;
    position: relative;
  }
  .rule:before {
    content : '';
    position: absolute;
    background-image: url("../assets/imgs/Union -2.svg");
    background-size : cover;
    width: 15px;
    height: 18px;
    top: -15px;
    left: 13px;
  }
  .skip {
    color : #67cb76;
    margin-top: 20px;
    font-size : 10px;
    padding : 5px;
    text-align: center;
    position: relative;
  }
  .skip:before {
    content : '';
    position: absolute;
    background-image: url("../assets/imgs/Group 4332.svg");
    background-size : cover;
    width: 20px;
    height: 18px;
    top: -15px;
    left: 13px;
  }
  .checkin {
    color : #67cb76;
    margin-top: 20px;
    font-size : 10px;
    padding : 5px;
    text-align: center;
    position: relative;
  }
  .checkin:before {
    content : '';
    position: absolute;
    background-image: url("../assets/imgs/Path 7727.svg");
    background-size : cover;
    width: 17px;
    height: 18px;
    top: -15px;
    left: 13px;
  }
  .cancel
  {
    color : #cd424e;
    margin-top: 20px;
    font-size : 10px;
    padding : 5px;
    text-align: center;
    position: relative;
  }
  .cancel:before{
    content : '';
    position: absolute;
    background-image: url("../assets/imgs/Group 4331.svg");
    background-size : cover;
    width: 18px;
    height: 18px;
    top: -15px;
    left: 13px;
  }
  .right-bar {
    position: relative;
  }
  .right-bar:before {
    content: '';
    left: -10px;
    position: absolute;
    background-color: #abababab;
    width: 1px;
    height: 100%;
  }
  .avatar_green {
    position: relative;
  }
  .avatar_green:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -15px;
    top : 10px;
    background-size : cover;
    background-image: url("../assets/imgs/Oval-2.svg");
  }
  .avatar_yellow {
    position: relative;
  }
  .avatar_yellow:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -15px;
    top : 10px;
    background-size : cover;
    background-image: url("../assets/imgs/Oval-1.svg");
  }
  .avatar_red {
    position: relative;
  }
  .avatar_red:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -15px;
    top : 10px;
    background-size : cover;
    background-image: url("../assets/imgs/Oval9.svg");
  }
}
