<!--
  Generated template for the UpcomingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="bg_client">

    <div class="text-center text-white p-3">
      Upcoming reservations
      <ion-buttons class="position-absolute" style="height: 20px; right : -5px; top : 15px;" >
        <button icon-only class="text-white bg-transparent" (click)="openThread()">
          <ion-icon name="chatbubbles" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
    </div>
    <div class="title" *ngIf="reservation_list[currentCursor]">
      <div *ngIf="reservation_list[currentCursor].status==3">
        You are next
      </div>
      <div *ngIf="reservation_list[currentCursor].status==2">
        Next turn
      </div>
      <div *ngIf="reservation_list[currentCursor].status==1">
        Check in
      </div>
    </div>
    <div class="status-msg" *ngIf="reservation_list[currentCursor]">
      <div *ngIf="reservation_list[currentCursor].status==3" class="status-0">
        You are up next. 15 minutes left to your reservation.
      </div>
      <div *ngIf="reservation_list[currentCursor].status==2" class="status-1">
        Hold tight. 30 minutes left to your reservation.
      </div>
      <div *ngIf="reservation_list[currentCursor].status==1" class="status-2">
        Top the stylist module to check in.
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div *ngFor="let time of timeArray; let i1 = index">
    <div class="timing">
      {{time}}
    </div>
    <ion-list>
      <div *ngFor="let reserve of reservation_list;let i = index" >
        <div *ngFor="let stylist of stylists">
          <div *ngIf="stylist.userId == reserve.stylistId && reserve.availableTime==time">

            <div  class="shadow-lg m-3">
              <ion-item no-lines (click)="changeCursor(i)" *ngIf="i!=currentCursor">
                <ion-avatar item-start>
                  <img [src]="stylist.profileImg">
                </ion-avatar>
                <div style="font-size: 12px;">{{stylist.userName}}</div>
                <div class="div_time" item-end>
                  {{time}}
                </div>
              </ion-item>
              <ion-item no-lines (click)="changeCursor(i)" *ngIf="i==currentCursor">
                <ion-avatar item-start  [ngClass]="reserve.status==3?'avatar_green':reserve.status==1?'avatar_red':'avatar_yellow'" style="margin-left: 10px">
                  <img [src]="stylist.profileImg">
                </ion-avatar>
                <h5>{{stylist.userName}}</h5>
                <p style="font-size: 12px; line-height: 20px">{{stylist.location}}</p>
                <p>
            <span class="div_time">
              {{reserve.availableTime}}
            </span>&nbsp;&nbsp;
                  <span class="div_time">
              {{reserve.availableStyle}}
            </span>
                </p>
                <div item-end class="right-bar">
                  <div class="rule" (click)="openRule()" *ngIf="reserve.status==3">
                    rule
                  </div>
                  <div class="skip" (click)="skipStep()" *ngIf="reserve.status==2">
                    skip
                  </div>
                  <div class="checkin" (click)="checkin(stylist, reserve)" *ngIf="reserve.status==1">
                    Check in
                  </div>
                  <hr>
                  <div class="cancel" (click)="cancelRequest()">
                    cancel
                  </div>
                </div>
              </ion-item>
            </div>
          </div>

        </div>

      </div>
    </ion-list>
  </div>

</ion-content>
