<!--
  Generated template for the StripePayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Stripe Payment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="cell example example4">
    <form>
      <div id="example4-paymentRequest">
        <!--Stripe paymentRequestButton Element inserted here-->
      </div>
      <fieldset>
        <legend class="card-only" data-tid="elements_examples.form.pay_with_card">Pay with card</legend>
        <div class="container">
          <div id="example4-card"></div>
          <button type="submit" data-tid="elements_examples.form.donate_button">Confirm</button>
        </div>
      </fieldset>
      <div class="error" role="alert">
        <span class="message"></span></div>
    </form>

  </div>
</ion-content>
