<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

  <!--<ion-navbar>-->
    <!--<ion-title>Sign Up</ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->


<ion-content [ngClass]="type=='stylist'?'content-stylist':'content-client'" >

    <!--<ion-scroll scrollY="true" style="margin-top: 44px; height: calc(100vh - 262px);" >-->
  <div class="bg-transparent">
    <div class="text-center text-white p-3">
      <ion-buttons class="position-absolute">
        <button icon-only class="text-white bg-transparent" style="height: 30px;" (click)="gotoBack()">
          <ion-icon name="arrow-back" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
      Signup
    </div>
  </div>
  <div padding>
    <div class="txt_type">
      {{type}}
    </div>
    <div class="txt_login">
      Signup
    </div>
    <div>

      <ion-input class="txt_input my-3" type="name" placeholder="Full Name">

      </ion-input>

      <ion-input class="txt_input my-3" type="email" placeholder="Email">

      </ion-input>

      <ion-input class="txt_input my-3" type="password" placeholder="Password">

      </ion-input>
    </div>
  </div>

    <!--</ion-scroll>-->
</ion-content>
<ion-footer style="font-size: 16px;"  class="py-5">
  <ion-item style="background: transparent" no-lines>
    <ion-checkbox [ngModel]="accepted"></ion-checkbox>
    <ion-label  style=" color : white;">Please review and agree to our</ion-label>
  </ion-item>
  <a style="color: white; border-bottom : 1px solid white; margin-left: 70px;" (click)="launch('https://www.google.com')" >Terms of service</a>
  <button ion-button [ngClass]="type=='stylist'?'btn_next_stylist':'btn_next_client'" (click)="insertPersonal()">
    Next
  </button>
</ion-footer>

