page-signup {
  .content-stylist {
    background-image: url("../assets/bg_imgs//dress-fashion-fashionable-833185.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
  }
  .content-client {
    background-image: url("../assets/bg_imgs//close-up-curly-curly-hair-718978.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
  }
  .txt_login {
    color : white;
    text-align: left;
    font-size: 35px;
    font-weight: bold;
  }
  .txt_type {
    color : white;
    font-family: "Have Heart 1";
    font-size: 100px;
  }
  .txt_input {
    color : white;
    border-bottom: 1px solid #FFFFFF77;
  }
  .btn_next_client {
    background-color: #67cb76;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
  .btn_next_stylist {
    background-color: #b88a64;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }

  .btn_signup {
    color : white;
    width : 80%;
    margin-left: 10%;
    border : 2px solid white;
    border-radius: 30px;
    font-size : 12px;
    padding: 25px;
  }
  .checkbox-checked .checkbox-inner { background-color: transparent }
}
