<!--
  Generated template for the PorosityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div  [ngClass]="type=='stylist'?'bg_stylist':'bg_client'">

    <div class="text-center text-white p-3">
      <ion-buttons class="position-absolute">
        <button icon-only class="text-white bg-transparent" style="height: 30px;" (click)="gotoBack()">
          <ion-icon name="arrow-back" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
      Register
    </div>
    <div class="title">
      Porosity
    </div>
  </div>
  <div>
    <div [ngClass]="regUser.porosity=='low'?'shadow div_porosity selected':'shadow div_porosity'" (click)="updatePorosity('low')">
      <img src="assets/imgs/1_stylist.png" style="width: 40px; margin-right : 15px" *ngIf="type=='stylist'">
      <img src="assets/imgs/1_client.png" style="width: 40px; margin-right : 15px" *ngIf="type!='stylist'">
      Low porosity
    </div>

    <div [ngClass]="regUser.porosity=='medium'?'shadow div_porosity selected':'shadow div_porosity'" (click)="updatePorosity('medium')">
      <img src="assets/imgs/2_stylist.png" style="width: 40px; margin-right : 15px" *ngIf="type=='stylist'">
      <img src="assets/imgs/2_client.png" style="width: 40px; margin-right : 15px" *ngIf="type!='stylist'">
      Medium porosity
    </div>

    <div [ngClass]="regUser.porosity=='high'?'shadow div_porosity selected':'shadow div_porosity'" (click)="updatePorosity('high')">
      <img src="assets/imgs/3_stylist.png" style="width: 40px; margin-right : 15px" *ngIf="type=='stylist'">
      <img src="assets/imgs/3_client.png" style="width: 40px; margin-right : 15px" *ngIf="type!='stylist'">
      High porosity
    </div>


  </div>
</ion-content>

<ion-footer class="py-2">
  <button ion-button [ngClass]="type=='stylist'?'btn_next_stylist':'btn_next_client'" (click)="pushToHairType()" [disabled]="!regUser.porosity">
    Continue
  </button>
</ion-footer>
