page-porosity {
  .btn_next_client {
    background-color: #67cb76;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
  .btn_next_stylist {
    background-color: #b88a64;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
  .bg_client {
    background-color: #67cb76;
  }
  .bg_stylist {
    background-color:#b88a64;
  }
  .title {
    color : white;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
  }
  .cl_client {
    color :#67cb76;
    text-align: center;
    padding : 20px;
  }
  .cl_stylist {
    color : #b88a64;
    text-align: center;
    padding : 20px;
  }
  .div_porosity {
    margin: 20px;
    padding : 25px;
    font-size : 16px;
  }

  .selected {
    border : 1px solid grey;
  }
}
