page-accepted {
  p {
    font-size: 12px;
    color : #aaaaaa;
    margin-left: 10px;

  }
  .timing {
    padding : 10px;
    color : #b88a64;
    font-size : 16px;
  }
  .btn_next_client {
    background-color: #b88a64;
    border-radius: 30px;
    width : 80%;
    margin-left: 10%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
  .bg_stylist {
    background-color: #b88a64;
  }
  .title {
    color : white;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
  }
  .cl_client {
    color :#b88a64;
    text-align: center;
    padding : 20px;
  }
  .segment-md .segment-button.segment-activated {
    background-color: #b88a64;
    color : white;
  }
  .segment-ios .segment-button.segment-activated {
    background-color: #b88a64;
    color : white;
  }
  .segment-ios .segment-button {
    border-color: #b88a64;
  }

  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
  }
  .col {
    text-align: center;
    padding: 5px;
  }
  .last-month, .next-month {
    color: #999999;
    font-size: 90%;
  }
  .currentDate, .otherDate {
    padding: 5px;
  }
  .currentDate {
    font-weight: bold;
    background-color: white;
    color:  #b88a64;
    border-radius: 30px;
  }
  .calendar-header {
    background-color: #b88a64;
    color: #FFFFFF;
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: #b88a64;
    border-radius: 30px;
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }
  .calendar-body {
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      text-align: center;
      color : #FFFFFF55;
      margin: 0;
    }
    .calendar-weekday {
      font-weight: bold;
      border-bottom: solid 1px #b88a64;
      background-color: #b88a64;
    }
    .calendar-date {
      border-top: solid 1px #b88a64;
      border-bottom: solid 1px #b88a64;
      background-color: #b88a64;
      color : white;
    }
  }
  .cal_date {
    background-color: #806245;
    margin-left : 10px;
    margin-right : 10px;
    border-radius: 10px;
    padding-left : 10px;
    color: white;
    width :  calc(100vw - 20px);
  }

  .bg_styles {
    background-color: #b88a64;
    text-align: center;
  }
  .btc_selected {
    max-width: 400px;
    width: 60vw;
    border-radius: 50px;
    font-size: 15px;
    color : #b88a64;
    background-color: white;
  }
  .btc_nonselected {
    max-width: 400px;
    width: 60vw;
    border-radius: 50px;
    border : 1px solid white;
    font-size: 15px;
    color : white;
    background-color: #b88a64;
  }
  .btc_exist {
    height: 20px;
    border-radius: 20px;
    border : 1px solid #b88a64;
    font-size: 10px;
    color : white;
    background-color: #b88a64;
  }
  .btc_exist_1 {
    height: 20px;
    width : 40vw;
    border-radius: 20px;
    border : 1px solid #b88a64;
    font-size: 10px;
    color : #b88a64;
    background-color: white;
  }

  .btc_exist_2 {
    height: 20px;
    width : 40vw;
    border-radius: 20px;
    border : 1px solid #cfffd6;
    font-size: 10px;
    color : #cfffd6;
    background-color: white;
  }
  .div_time {
    height: 16px;
    padding : 5px;
    text-align: center;
    border-radius: 20px;
    line-height: 6px;
    border : 1px solid #b88a64;
    font-size: 12px;
    color : white;
    background-color: #b88a64;
  }
  .avatar_green {
    position: relative;
  }
  .avatar_green:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -25px;
    top : 10px;
    background-size : cover;
    background-image: url("../assets/imgs/Oval-2.svg");
  }
  .avatar_yellow {
    position: relative;
  }
  .avatar_yellow:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -25px;
    top : 10px;
    background-size : cover;
    background-image: url("../assets/imgs/Oval-1.svg");
  }
  .avatar_red {
    position: relative;
  }
  .avatar_red:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -25px;
    top : 10px;
    background-size : cover;
    background-image: url("../assets/imgs/Oval9.svg");
  }
}
