<!--
  Generated template for the AcceptedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div class="bg_stylist">
    <div class="text-center text-white p-3">
      Upcoming reservations
      <ion-buttons class="position-absolute" style="height: 20px; right : -5px; top : 15px;" >
        <button icon-only class="text-white bg-transparent" (click)="openThread()">
          <ion-icon name="chatbubbles" style="font-size: 20px"></ion-icon>
        </button>
      </ion-buttons>
    </div>
    <div [ngSwitch]="search">
      <div *ngSwitchCase="'today'">

        <div class="title">
          Today
        </div>
      </div>
      <div *ngSwitchCase="'date'">
        <div class="title">
          Select Date
        </div>
        <ion-item class="cal_date" >
          <ion-label color="primary"><ion-icon name="calendar"></ion-icon></ion-label>
          <ion-input readonly clearInput (click)="toggleCalendar()" placeholder="April 1, 2018" [(ngModel)]="selectedDate">
          </ion-input>
        </ion-item>

      </div>
      <div *ngSwitchCase="'time'">
        <div class="title">
          Select Time
        </div>
        <ion-item class="cal_date" >
          <ion-label color="custom2"><ion-icon name="clock"></ion-icon></ion-label>
          <ion-input readonly clearInput (click)="toggleTime()" placeholder="12:00 AM - 2:00 PM" [(ngModel)]="selectedTime">
          </ion-input>
        </ion-item>
      </div>

    </div>
    <div>
      <ion-segment [(ngModel)]="search">
        <ion-segment-button value="today" (click)="searchForToday()">
          Today
        </ion-segment-button>
        <ion-segment-button value="date"(click)="initializeItems()">
          DATE
        </ion-segment-button>
        <ion-segment-button value="time"(click)="searchForTime()">
          TIME
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <div [ngSwitch]="search">
    <div *ngSwitchCase="'date'" >
      <div *ngIf="isShowCalendar">
        <div class="calendar-header">
          <ion-row class="calendar-month">
            <ion-col col-9>{{currentMonth}} {{currentYear}}</ion-col>
            <ion-col col-1 (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
            <ion-col col-1 (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
          </ion-row>
        </div>
        <div class="calendar-body">
          <ion-grid>
            <ion-row class="calendar-weekday">
              <ion-col>Su</ion-col>
              <ion-col>Mo</ion-col>
              <ion-col>Tu</ion-col>
              <ion-col>We</ion-col>
              <ion-col>Th</ion-col>
              <ion-col>Fr</ion-col>
              <ion-col>Sa</ion-col>
            </ion-row>
            <ion-row class="calendar-date">
              <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
              <ion-col col-1 *ngFor="let day of daysInThisMonth"  (click)="selectDate(day)">
                <span class="currentDate" *ngIf="currentDate === day; else otherDate" >{{day}}</span>
                <ng-template #otherDate class="otherDate">{{day}}</ng-template>
              </ion-col>
              <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'time'">
      <div *ngIf="isShowTime" class="bg_styles">
        <div *ngFor="let time of timeArray">
          <button ion-button (click)="setTime(time)" [ngClass]="selectedTime==time?'btc_selected':'btc_nonselected'">{{time}}</button><br>
        </div>
      </div>
    </div>
  </div>
  <div [ngSwitch]="search">
      <div *ngFor="let reservation of reservations">
        <div *ngFor="let client of clients">
          <div *ngIf="reservation.clientId == client.userId">
            <ion-list>
              <div *ngSwitchCase="'today'" class="timing">
                {{reservation.availableTime}}
              </div>
              <div class="shadow m-2">
                <ion-item no-lines>
                  <ion-avatar item-start  [ngClass]="reservation.status==3?'avatar_green':reservation.status==1?'avatar_red':'avatar_yellow'" style="margin-left: 20px">
                    <img [src]="client.profileImg">
                  </ion-avatar>
                  <h2>{{client.userName}}</h2>
                  <p>{{client.location}}</p>
                  <div item-end class="div_time">
                    {{reservation.availableStyle}}
                  </div>

                </ion-item>
                <hr>
                <div class="text-center clearfix">
                  <p class="text-center float-left text-dark" style="width : 40vw" (click)="doneRequest(reservation, client)">
                    Done
                  </p>
                  <span style="background-color: #e3e3e3; height: 50px; width: 1px">&nbsp;</span>
                  <p class="text-center float-right text-dark"  style="width : 40vw" (click)="cancelRequest(reservation, client)">
                    Cancel
                  </p>
                </div>
              </div>
            </ion-list>
          </div>
        </div>
      </div>
  </div>
</ion-content>
