<!--
  Generated template for the ConfirmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <div [ngClass]="type=='stylist'?'txt_stylist':'txt_client'">
    Confirmation
  </div>
  <div class="txt_confirm">
    You will be receiving via mail the confirmation
  </div>
  <button ion-button clear (click)="dismiss()"  [ngClass]="type=='stylist'?'btn_back_stylist':'btn_back_client'" >Back to login</button>
</ion-content>

<div [ngClass]="type=='stylist'?'mail_box_stylist':'mail_box_client'">
  <img src="assets/imgs/Group 4324.png">
</div>
