page-confirm {
  .content {
    overflow: hidden;
    position: absolute;
    width: 80%;
    left: 10%;
    height: 40%;
    top : 30%;
    border-radius: 20px;
    text-align: center;
  }
  .btn_back_client {
    background-color: #67cb76;
    border-radius: 30px;
    width : 100%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
  .btn_back_stylist {
    background-color: #b88a64;
    border-radius: 30px;
    width : 100%;
    font-size : 12px;
    padding: 25px;
    color : white;
  }
  .txt_stylist {
    color : #b88a64;
    font-size : 30px;
    margin-top: 60px;
  }
  .txt_client {
    color : #67cb76;
    font-size : 30px;
    margin-top: 60px;
  }
  .txt_confirm {
    color : #bababa;
  }
  .mail_box_client {
    background-color: #67cb76;
    position: absolute;
    top : 30%;
    margin-top: -40px;
    left : 50%;
    margin-left: -40px;
    padding: 25px;
    border-radius: 50px;
    width: 80px;
  }
  .mail_box_stylist {
    background-color: #b88a64;
    position: absolute;
    top : 30%;
    margin-top: -40px;
    left : 50%;
    margin-left: -40px;
    padding: 25px;
    border-radius: 50px;
    width: 80px;
  }
}
